LmWebServer/public_html/schemas/commonTypes.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://lifemapper.org"
            xmlns:lm="http://lifemapper.org" 
            elementFormDefault="qualified">

   <xsd:annotation>
      <xsd:documentation>
         Schema definitions for Lifemapper common types 
         Version: 2.0
         Author: CJ Grady
         Contact: lifemapper@ku.edu
      </xsd:documentation>
   </xsd:annotation>

   <xsd:complexType name="algoParamsType">
      <xsd:choice>
         <xsd:group ref="lm:annGroup" />
         <xsd:group ref="lm:aquamapsGroup" />
         <xsd:group ref="lm:attMaxEntGroup" />
         <xsd:group ref="lm:bioclimGroup" />
         <xsd:group ref="lm:csmbsGroup" />
         <xsd:group ref="lm:envdistGroup" />
         <xsd:group ref="lm:garpGroup" />
         <xsd:group ref="lm:garpbsGroup" />
         <xsd:group ref="lm:omMaxEntGroup" />
         <xsd:group ref="lm:svmGroup" />
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="algoParamType">
      <xsd:all>
         <xsd:element name="min" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="default" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="max" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="value" type="xsd:string" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="omkey" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="options" type="lm:optionType" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      </xsd:all>
   </xsd:complexType>

   <xsd:complexType name="interfacesType">
      <xsd:all>
         <xsd:element name="aaigrid" type="xsd:string" minOccurs="0" />
         <xsd:element name="ascii" type="xsd:string" minOccurs="0" />
         <xsd:element name="atom" type="xsd:string" minOccurs="0" />
         <xsd:element name="eml" type="xsd:string" minOccurs="0" />
         <xsd:element name="gtiff" type="xsd:string" minOccurs="0" />
         <xsd:element name="html" type="xsd:string" minOccurs="0" />
         <xsd:element name="json" type="xsd:string" minOccurs="0" />
         <xsd:element name="kml" type="xsd:string" minOccurs="0" />
         <xsd:element name="raw" type="xsd:string" minOccurs="0" />
         <xsd:element name="status" type="xsd:string" minOccurs="0" />
         <xsd:element name="tiff" type="xsd:string" minOccurs="0" />
         <xsd:element name="xml" type="xsd:string" minOccurs="0" />
      </xsd:all>
   </xsd:complexType>

   <xsd:complexType name="keywordsType">
      <xsd:sequence>
         <xsd:element name="keyword" 
                      type="xsd:string" 
                      maxOccurs="unbounded" 
                      minOccurs="0" />
                      
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="optionType">
      <xsd:sequence>
         <xsd:element name="option" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="qpOptionsType">
      <xsd:sequence>
         <xsd:element name="option" type="lm:qpOptionType" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="qpOptionType">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="value" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="qpParamsType">
      <xsd:all>
         <xsd:element name="displayName" type="xsd:string" minOccurs="1" />
         <xsd:element name="documentation" type="xsd:string" minOccurs="1" />
         <xsd:element name="multiplicity" type="xsd:string" minOccurs="0" />
         <xsd:element name="name" type="xsd:string" minOccurs="1" />
         <xsd:element name="options" type="lm:qpOptionsType" minOccurs="0" />
         <xsd:element name="type" type="xsd:string" minOccurs="1" />
      </xsd:all>
   </xsd:complexType>

   <xsd:complexType name="queryParametersType">
      <xsd:all>
         <xsd:element name="afterTime" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="algorithmCode" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="beforeTime" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="displayName" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="epsgCode" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="fullObjects" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="hasProjections" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="isCategorical" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="keyword" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="matchingScenario" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="minimumNumberOfPoints" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="modelId" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="occurrenceSetId" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="page" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="perPage" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="public" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="scenarioId" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="status" type="lm:queryParameterType" minOccurs="0" />
         <xsd:element name="typeCode" type="lm:queryParameterType" minOccurs="0" />
      </xsd:all>
   </xsd:complexType>

   <xsd:complexType name="queryParameterType">
      <xsd:all>
         <xsd:element name="value" type="xsd:string" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="param" type="lm:qpParamsType" minOccurs="1" maxOccurs="1"/>
      </xsd:all>
   </xsd:complexType>

   <xsd:complexType name="sizeType">
      <xsd:sequence>
         <xsd:element name="size" type="xsd:integer" maxOccurs="unbounded" minOccurs="0" />
      </xsd:sequence>
   </xsd:complexType>

   <!-- GROUPS -->
   <xsd:group name="annGroup">
      <xsd:sequence>
         <xsd:element name="HiddenLayerNeurons" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="LearningRate" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Momentum" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Choice" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Epoch" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="MinimumError" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="aquamapsGroup">
      <xsd:sequence>
         <xsd:element name="UseSurfaceLayers" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="UseDepthRange" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="UseIceConcentration" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="UseDistanceToLand" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="UsePrimaryProduction" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="UseSalinity" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="UseTemperature" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="attMaxEntGroup">
      <xsd:sequence>
         <xsd:element name="responsecurves" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="pictures" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="jackknife" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="outputformat" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="randomseed" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="logscale" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="removeduplicates" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="writeclampgrid" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="writemess" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="randomtestpoints" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="betamultiplier" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="maximumbackground" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="replicates" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="replicatetype" type="lm:algoParamType" maxOccurs="1" minOccurs="1" /> 
         <xsd:element name="perspeciesresults" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="writebackgroundpredictions" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="responsecurvesexponent" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="linear" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="quadratic" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="product" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="threshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="hinge" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="writeplotdata" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="fadebyclamping" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="extrapolate" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="autofeature" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="doclamp" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="outputgrids" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="plots" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="appendtoresultsfile" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="maximumiterations" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="convergencethreshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="adjustsampleradius" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="lq2lqptthreshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="l2lqthreshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="hingethreshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="beta_threshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="beta_categorical" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="beta_lqp" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="beta_hinge" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="defaultprevalence" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="bioclimGroup">
      <xsd:sequence>
         <xsd:element name="StandardDeviationCutoff" type="xsd:string" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="csmbsGroup">
      <xsd:sequence>
         <xsd:element name="Randomisations" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="StandardDeviations" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="MinComponents" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="VerboseDebugging" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="envdistGroup">
      <xsd:sequence>
         <xsd:element name="Distancetype" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="NearestPoints" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Distance" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="garpGroup">
      <xsd:sequence>
         <xsd:element name="ConvergenceLimit" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Resamples" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="PopulationSize" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="MaxGenerations" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="garpbsGroup">
      <xsd:sequence>
         <xsd:element name="TotalRuns" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="MaxThreads" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="ConvergenceLimit" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="ModelsUnderOmissionThreshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="CommissionSampleSize" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="HardOmissionThreshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="CommissionThreshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Resamples" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="TrainingProportion" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="PopulationSize" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="MaxGenerations" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="omMaxEntGroup">
      <xsd:sequence>
         <xsd:element name="NumberOfBackgroundPoints" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="UseAbsencesAsBackground" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="IncludePresencePointsInBackground" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="NumberOfIterations" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="TerminateTolerance" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="OutputFormat" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="QuadraticFeatures" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="ProductFeatures" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="HingeFeatures" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="ThresholdFeatures" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="AutoFeatures" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="MinSamplesForProductThreshold" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="MinSamplesForQuadratic" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="MinSamplesForHinge" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

   <xsd:group name="svmGroup">
      <xsd:sequence>
         <xsd:element name="SvmType" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="KernelType" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Degree" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Gamma" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Coef0" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Cost" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="Nu" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="ProbabilisticOutput" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
         <xsd:element name="NumberOfPseudoAbsences" type="lm:algoParamType" maxOccurs="1" minOccurs="1" />
      </xsd:sequence>
   </xsd:group>

</xsd:schema>