LmWebServer/public_html/schemas/hint.wadl

<?xml version="1.0"?>
<application
    xmlns="http://wadl.dev.java.net/2009/02" 
    xmlns:lm="http://lifemapper.org"
    xmlns:xhtml="http://www.w3.org/1999/xhtml" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">
    
   <!-- Parameters -->
   <!-- ................................................................... -->
   <param name="columns"
      required="false"
      style="query"
      type="xsd:integer"
      id="columns">
      <doc xml:lang="en" title="Number of columns">
         The "columns" query parameter specifies the number of columns to 
         return the output of the species list query in.  Note that this is 
         only applicable for json and table formats.
      </doc>
   </param>
   
   <param name="format" 
      required="false" 
      style="query"
      type="xsd:string"
      id="format">
      <doc xml:lang="en" title="Response format">
         The "format" query parameter specifies how the list of matching 
         species.  Options are "table", "json", "genusBrowser", and "autocomplete".
      </doc>
      <option value="autoComplete" mediaType="text/plain">
         <doc xml:lang="en" title="Autocomplete Interface">
            Setting the format parameter to "autocomplete" will set the
            response to return an autocomplete document.
         </doc>
      </option>
      <option value="genusBrowser" mediaType="application/xml">
         <doc xml:lang="en" title="Genus browser interface">
            Setting the format parameter to "genusBrowser" will return an XHTML
            element with the list of all species in a genus that match the 
            query.
         </doc>
      </option>
      <option value="json" mediaType="applicatoin/json">
         <doc xml:lang="en" title="Json Interface">
            Setting the format parameter to "json" will set the response to 
            return a JSON object.
         </doc>
      </option>
      <option value="table" mediaType="application/xml">
         <doc xml:lang="en" title="Table Interface">
            Setting the format parameter to "table" will set the response to 
            return an XHTML table element in a document.
         </doc>
      </option>
   </param>

   <param name="maxReturned"
          required="false"
          style="query"
          type="xsd:integer"
          id="maxReturned">
      <doc xml:lang="en" title="Maximum number of results returned">
         The "maxReturned" query parameter specifies the maximum number of 
         results for the query to return.
      </doc>
   </param>

   <param name="seeAll"
          required="false"
          style="query"
          type="xsd:string"
          id="seeAll">
      <doc xml:lang="en" title="See all species matches">
         When the "seeAll" query parameter is present, all of the matching 
         species results will be returned.
      </doc>
   </param>

   <param name="speciesQuery" 
          required="true" 
          style="template" 
          type="xsd:string"
          id="speciesQuery">
      <doc xml:lang="en" title="Species Query">
         The speciesQuery parameter is the characters for the lucene query to 
         match when searching for a list of species in the Lifemapper database.
         Note that at least three characters must be supplied.
      </doc>
   </param>


   <!-- Representations -->
   <!-- ................................................................... -->
   
   <!-- Resource Types -->
   <!-- ................................................................... -->
   <!-- Species Hint -->
   <resource_type id="speciesHintResource">
      <doc xml:lang="en" title="Species Hint Resource">
         The species hint service allows you to search quickly for a list of
         items that match a species query that you supply
      </doc>
      <param href="#speciesQuery" />
      <method name="GET" id="getSpeciesQueryList">
         <doc xml:lang="en" title="Show matching species">
            Calling this service with a GET request will return a list of 
            Lifemapper occurrence sets whose display name matches the query
            string.
         </doc>
         <request>
            <doc xml:lang="en" title="Show matching species request">
               A request to list matching occurrence sets takes multiple 
               optional query parameters.  You can use these query parameters
               to modify how the results are returned.
            </doc>
            <param href="#columns" />
            <param href="#format" />
            <param href="#maxReturned" />
            <param href="#seeAll" />
         </request>
         <response>
            <doc xml:lang="en" title="Show matching species response">
               The response of the species matching service can be plain text,
               a JSON object, or an XML document based on the format query
               parameter.
            </doc>
            <representation href="common.wadl#plainTextRepresentation" />
            <representation href="common.wadl#jsonRepresentation" />
            <representation href="common.wadl#xmlRepresentation" />
         </response>
      </method>
   </resource_type>
</application>