LmWebServer/public_html/schemas/services.wadl

<?xml version="1.0"?>
<application 
   xmlns="http://wadl.dev.java.net/2009/02" 
      xmlns:lm="http://lifemapper.org"
      xmlns:xhtml="http://www.w3.org/1999/xhtml" 
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">
   
   <!-- Grammars -->
   <grammars>
      <include href="serviceRequest.xsd" />
      <include href="serviceResponse.xsd" />
   </grammars>

   <!-- Resources -->
   <resources base="http://lifemapper.org/">
      <doc xml:lang="en" title="Resources">
         The Lifemapper services are accessed via a HTTP client such as a web
         browser.  A note about this documentation: names enclosed in brackets
         (such as {interface}) are template parameters.  These parameters 
         should be filled in when accessing a service.  For example, instead of 
         accessing http://lifemapper.org/services/sdm/experiments/{interface},
         you would use http://lifemapper.org/services/sdm/experiments/xml where 
         "xml" is the interface to return.  
      </doc>

      <resource path="services/{interface}"
                type="common.wadl#serviceListResource" />
      
      <!-- ================================================================ -->
      <!-- =                        Hint Services                         = -->
      <!-- ================================================================ -->
      
      <!-- Species Hint -->
      <!-- .......................... -->
      <resource path="hint/species/{speciesQuery}"
                type="hint.wadl#speciesHintResource" />
      
      <!-- ................................................................ -->
      
      <!-- ================================================================ -->
      <!-- =                         RAD Services                         = -->
      <!-- ================================================================ -->

      <!-- Service Group -->
      <!-- .......................... -->
      <resource path="services/rad/{interface}"
                type="common.wadl#serviceListResource" />
      
      <!-- Experiments -->
      <!-- .......................... -->
      <resource path="services/rad/experiments/{interface}"
                type="rad.wadl#listRADExperiments" />
      
      <resource path="services/rad/experiments/{itemId}/{interface}"
                type="rad.wadl#getRADExperiment" />
      
      <!-- Buckets -->
      <!-- .......................... -->
      <resource path="services/rad/experiments/{parentId}/buckets/{interface}"
                type="rad.wadl#listRADBuckets" />
      
      <resource path="services/rad/experiments/{parentId}/buckets/{itemId}/{interface}"
                type="rad.wadl#getRADBucket" />
      
      <!-- PamSums -->
      <!-- .......................... -->
      <resource path="services/rad/experiments/{grandparentId}/buckets/{parentId}/pamsums/{interface}"
                type="rad.wadl#listRADPamsums" />
      
      <resource path="services/rad/experiments/{grandparentId}/buckets/{parentId}/pamsums/{itemId}/{interface}"
                type="rad.wadl#getRADPamsum" />
      
      <!-- Layers -->
      <!-- .......................... -->
      <resource path="services/rad/layers/{interface}"
                type="rad.wadl#listRADLayers" />
      
      <resource path="services/rad/layers/{itemId}/{interface}"
                type="rad.wadl#getRADLayer" />

      <!-- Shapegrids -->
      <!-- .......................... -->
      <resource path="services/rad/shapegrids/{interface}"
                type="rad.wadl#listRADShapegrids" />
      
      <resource path="services/rad/shapegrids/{itemId}/{interface}"
                type="rad.wadl#getRADShapegrid" />
      
      <!-- ................................................................ -->

      <!-- ================================================================ -->
      <!-- =                         SDM Services                         = -->
      <!-- ================================================================ -->
      
      <!-- Service Group -->
      <!-- .......................... -->
      <resource path="services/sdm/{interface}"
                type="common.wadl#serviceListResource" />
      
      <!-- Experiments -->
      <!-- .......................... -->
      <resource path="services/sdm/experiments/{interface}"
                type="sdm.wadl#listSDMExperiments" />
      
      <resource path="services/sdm/experiments/{itemId}/{interface}"
                type="sdm.wadl#getSDMExperiment" />
      
      <!-- Experiment Subobjects -->
      <resource path="services/sdm/experiments/{itemId}/algorithm/{interface}"
                type="common.wadl#getSubObjectResource" />
      
      <resource path="services/sdm/experiments/{itemId}/scenario/{interface}"
                type="common.wadl#getSubObjectRecource" />
      
      <!-- Experiment Subservices -->
      <resource path="services/sdm/experiments/{parentId}/projections/{interface}"
                type="sdm.wadl#listSDMExperimentProjections" />
      
      <resource path="services/sdm/experiments/{parentId}/projections/{itemId}/{interface}"
                type="sdm.wadl#getSDMExperimentProjection" />
      
      <!-- Layers -->
      <!-- .......................... -->
      <resource path="services/sdm/layers/{interface}"
                type="sdm.wadl#listSDMLayers" />
      
      <resource path="services/sdm/layers/{itemId}/{interface}"
                type="sdm.wadl#getSDMLayer" />
      
      <!-- Occurrence Sets -->
      <!-- .......................... -->
      <resource path="services/sdm/occurrences/{interface}"
                type="sdm.wadl#listSDMOccurrenceSets" />

      <resource path="services/sdm/occurrences/{itemId}/{interface}"
                type="sdm.wadl#getSDMOccurrenceSet" />

      <!-- Projections -->
      <!-- .......................... -->
      <resource path="services/sdm/projections/{interface}"
                type="sdm.wadl#listSDMProjections" />
      
      <resource path="services/sdm/projections/{itemId}/{interface}"
                type="sdm.wadl#getSDMProjection" />
      
      <!-- Scenarios -->
      <!-- .......................... -->
      <resource path="services/sdm/scenarios/{interface}"
                type="sdm.wadl#listSDMScenarios" />
      
      <resource path="services/sdm/scenarios/{itemId}/{interface}"
                type="sdm.wadl#getSDMScenario" />
      
      <!-- Scenario Subservices -->
      <resource path="services/sdm/scenarios/{parentId}/layers/{interface}"
                type="sdm.wadl#listSDMScenarioLayers" />
      
      <resource path="services/sdm/scenarios/{parentId}/layers/{itemId}/{interface}"
                type="sdm.wadl#getSDMScenarioLayer" />

      <!-- Type Codes -->
      <!-- .......................... -->
      <resource path="services/sdm/typecodes/{interface}"
                type="sdm.wadl#listSDMTypeCodes" />
      
      <resource path="services/sdm/typecodes/{itemId}/{interface}"
                type="sdm.wadl#getSDMTypeCode" />
      
      <!-- ................................................................ -->
   </resources>
</application>